main {
    background-color: #f6f6f2;
    /* height: 100px; */
    width: 100%;
    margin: 0 auto;
}

/* hover ic header */
.menu-hover {
    position: relative;
    cursor: pointer;
}

.menu-hover:hover .right--nav {
    visibility: unset;
    transform: rotateX(0);
    opacity: 1;
}

.right--nav {
    position: absolute;
    top: 130%;
    z-index: 100;
    visibility: hidden;
    transition: all .3s ease-in-out;
    transform: rotateX(90deg);
    opacity: 0;

}

.right--nav ul {
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right--nav ul li {
    list-style: none;
    width: 250px;
    padding: 5px 40px;
}

.right--nav ul li a {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.right--nav ul li:first-child {
    padding-top: 20px;
}

.right--nav ul li:last-child {
    padding-bottom: 40px;
}


.title_container h2 {
    color: #000;
}

.form_wrapper {
    margin-top: 5rem;
}

.form_container {
    width: 100%;
    text-align: center;
}

.title_container {
    padding-top: 2rem;
}

.title_container h2 {
    font-size: 30px;
}

.row_clearfix {
    background-color: transparent;
    width: 30%;
    margin: 0 auto;
}

form {
    width: 100%;
    margin-top: 1rem;
}

form div {
    width: 100%;
    margin-top: 1rem;
}

.input_field {
    display: flex;
    justify-content: space-around;
}

form .input_field input {
    width: 90%;
    background: transparent;
    height: 30px;
    padding: 5px 10px;

}

form .input_field input:focus {
    background: rgb(192, 188, 188);
}

select {
    width: 70%;
    background-color: transparent;
    height: 30px;
}

form>input {
    margin: 10px;
    padding: 8px;
    width: 50%;
    font-size: 1.25rem;
    background-color: rgb(33, 33, 34);
    font-weight: 600;
    color: rgb(243, 231, 231);
}

form input:hover {
    background-color: black;
}

.register-btn {
    margin-top: 15px;
    display: inline-block;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.register-btn:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 768px) {
    .input_field span i {
        margin-right: 10px;
    }

    form>input {
        width: 80%;
    }
}